.col-md-6{
  margin-bottom: 1rem;
}
.player-canvas{

}
.timer{
  margin: 0 .5rem;
}
.seekto{
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  padding: 2px 5px;
  margin: 0 .5rem;
}
.player-toolbar{
  background-color: rgba(0,0,0,.5);
  bottom: 0px;
  position: absolute;
  width: 100%;
}
.player-title{
  background-color: rgba(0,0,0,.5);
  top: 0px;
  position: absolute;
  width: 100%;
  color: white;
  padding: 10px 20px;
}
.player-toolbar .fa{
  color: white;
  cursor: pointer;
}
.player-toolbar span{
  color: white;
}
i.myBtn{
  padding: 10px 20px;
}

.text-center .youtube-custom-player{
    margin: 0 auto;
    text-align: left !important;
}
